<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}PDF Parser{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block styles %}
    <style>
        
    </style>
    {% endblock %}
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'pdf_parser' %}">PDF Parser</a></li>
                <li><a href="{% url 'restdata' %}">Records</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    {% block scripts %}

    {% endblock %}
</body>
</html>
